body {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
button {
    margin-top: 20px;
    margin-left: 7px;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}
span {
    margin-left: 10px;
}
